<div class="jumbotron jumbotron-fluid border rounded bg-light p-4 ">
  <a class="link-post" onclick="javascript: window.location.href='mailto:vagas@empresa.com';" href="#">
  <div class="row justify-content-center">

    <div class="col-8 m-0">
      <h4>Título: <%= job.name %></h4>
      <p><b>Descrição da Vaga:</b> <%= job.description %></p>
      <p><b>Tempo de Experiência:</b> <%= job.timeXP %></p>
      <p><b>Salário:</b> <%= job.salary %></p>
    </div>

  </div>
</a>
</div>