<div class="jumbotron jumbotron-fluid border rounded bg-light p-4 ">
  <a class="link-post" href="/posts/<%= post.id %>">
  <div class="row justify-content-center">
    <div class="col-4">
      <img class="img-thumbnail m-0" src="/images/<%= post.image %>" />

    </div>

    <div class="col-8">
      <h3><%= post.title %></h3>
      <p><%= post.description %></p>

    </div>
  </div>
</a>
</div>