<div class="jumbotron jumbotron-fluid border rounded bg-light p-4 ">
  <a class="link-post" href="/projetos/<%= project.id %>">
  <div class="row justify-content-center">
    <div class="col-4">
      <img class="img-thumbnail m-0" src="/images/<%= project.image %>" />

    </div>

    <div class="col-8">
      <h3><%= project.name %></h3>
      <p><%= project.description %></p>

    </div>
  </div>
</a>
</div>