<nav class="nav navbar-light mb-5 bg-danger">
  <a class="navbar-brand mr-5 ml-5" href="/"><img src="/images/aniblogando.png" width="125" alt=""></a>
  <a class="nav-link text-light ml-5 align-self-center" href="/posts">POSTS</a>
  <a class="nav-link text-light ml-5 align-self-center" href="/projetos">PROJETOS</a>
  <a class="nav-link text-light ml-5 align-self-center" href="/jobs">TRABALHE CONOSCO</a>
  <div class="container-fluid min-height-effect bg-danger-dark">
    
  </div>
</nav>