<!DOCTYPE html>
<html>
<head>
  <title><% title %></title>
  <%- include('imports'); -%>
</head>
<body>
  <%- include('navbar'); -%>

  <div class="container">
<!-- forEach allPosts-->
    <% posts.forEach((post) => {%>
      <%- include('allPosts', {post: post}); -%>
    
    <% }); %>    

  </div>
  
  <%- include('footer'); -%>
</body>
</html>
