<!DOCTYPE html>
<html>
<head>
  <title><% title %></title>
  <%- include('imports'); -%>
</head>
<body>
  <%- include('navbar'); -%>

  <div class="container">
<!-- forEach allPosts-->
     
  </div>
  
  <%- include('footer'); -%>
</body>
</html>
